/* 
Project Name: Jue Gao's Website
*/

body, html {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	font-family: 'Source Sans 3', sans-serif;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#container {
	display: flex;
	width: 100%;
	height: 100%;
}

#image, #text {
	flex: 1;
	width: 100%;
	height: 100%;
}

#image img {
	display: block;
	width: 100%;
	height: 100%;
}

#text {
	background: white;
	color: black;
	padding-left: 60px;
	padding-right: 60px;
}

h1 {
	font-size: 26px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 5px;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 80px;
}

p {
	font-size: 14px;
	font-weight: 400;
}

a {
	color: #6CACE4;
	text-decoration: none;
	size: 100px;
}

.special-font {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
}

.linkedin-icon, .github-icon {
	width: 30px;
  	height: 30px;
	margin-right: 15px;
	margin-top: 40px;
}

/* Hamburger Menu */
.hamburger {
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 10;
}

.hamburger a {
	text-decoration: none;
	font-size: 50px;
	color: #CCB6AF;
}

/* Overlay */
.overlay {
    display: none; /* Initially hidden */
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.5s ease; /* Smooth transition for the opacity */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76,76,76, 0.9); /* Example background */
    z-index: 1; /* Ensure it's above other content */
}

/* Overlay Content */
.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
}

.overlay-content a {
    padding: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 36px; /* Adjust size as needed */
    color: white;
    display: block; /* Each link takes a full line */
    transition: 0.3s;
}

.overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
}
