/* 
Project Name: Jue Gao's Website
*/

body, html {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	font-family: 'Source Sans 3', sans-serif;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

#container {
	display: flex;
	width: 100%;
	height: 100%;
}

#image, #text {
	flex: 1;
	width: 100%;
	height: 100%;
}

#image img {
	display: block;
	width: 100%;
	height: 100%;
}

#text {
	background: white;
	color: black;
	padding-left: 60px;
	padding-right: 60px;
}

h1 {
	font-size: 26px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 5px;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 80px;
}

p {
	font-size: 14px;
	font-weight: 400;
}

a {
	color: #6CACE4;
	text-decoration: none;
	size: 100px;
}

.special-font {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
}

.linkedin-icon, .github-icon {
	width: 30px;
  height: 30px;
	margin-right: 15px;
	margin-top: 40px;
}
