/* 
Project Name: Jue Gao's Website
*/

@font-face {
  font-family: 'Source_Sans_3';
  src: url('../font/Source_Sans_3/SourceSans3-VariableFont_wght.ttf') format('truetype'),
 			 url('../font/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype');
}

.special-font {
  font-family: 'Source_Sans_3';
  font-weight: 600;
}

body, html {
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	gap: 60px;
}

#image, #text {
	flex: 1;
}

	#image img {
		max-width: 100%;
		height: auto;
	}

	#text {
		max-width: 100%;
		background: white;
		color: black;
	}


body {
  font-family: 'Source_Sans_3';
}

		h1 {
			font-size: 26px;
			font-weight: 600;
			margin: 0;
			margin-top: 20px;
			margin-bottom: 5px;
		}

		h2 {
			font-size: 16px;
			font-weight: 400;
			margin: 0;
			margin-bottom: 80px;
		}

		p {
			font-size: 14px;
			font-weight: 400;
		}

		a {
			color: #75C1F6;
			text-decoration: none;
			size: 100px;
		}

		.linkedin-icon, .github-icon {
			width: 30px;
		    height: 30px;
			margin-right: 15px;
			margin-top: 40px;
		}






